Repository holyspectral/neuvector, changes with the owners that CODEOWNERS names for each.
All owners: @holyspectral, @yasker, @flavio, @neuvector/build, @neuvector/controller, @neuvector/scanner, @neuvector/enforcer

feat: NVSHAS-9490 support controller SLSA L3
  .github/workflows/dev-arm64.yml
  .github/workflows/dev.yml
  .github/workflows/release.yml
  Makefile
  dp/Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  package/build_controller.sh
  package/build_enforcer.sh
  package/deps/linux_amd64/consul.checksum
  package/deps/linux_amd64/opa.checksum
  package/deps/linux_arm64/consul.checksum
  package/deps/linux_arm64/opa.checksum
  tools/nstools/Makefile
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer

enable GHA cache
  Makefile
Owners: @holyspectral, @yasker, @flavio

wip
  package/Dockerfile.enforcer
  share/cluster/consul.go
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer, @neuvector/controller

temporarily not building arm64
  Makefile
Owners: @holyspectral, @yasker, @flavio

temporarily not building arm64
  .github/workflows/release.yml
  Makefile
Owners: @holyspectral, @yasker, @flavio

NVSHAS-9589: Managed clusters disconnected - Version mismatch with the primary cluster
  controller/cache/federation.go
Owners: @neuvector/controller, @yasker, @flavio

NVSHAS-9571 fix image asset advanced filter issue
  db/assetvuls.go
Owners: @neuvector/controller, @yasker, @flavio

ReadCmdLine failure: Fix golint PR error.
  share/system/system_linux.go
Owners: @holyspectral, @yasker, @flavio

NVSHAS-9425: in protect mode create nfq when container has vxlan.
  agent/engine.go
  agent/pipe/port.go
Owners: @neuvector/enforcer, @yasker, @flavio

fix: linter: use new-from-rev
  .github/workflows/golangci-lint.yml
Owners: @holyspectral, @yasker, @flavio

Update docker-compose.yml
  docker-compose.yml
Owners: @holyspectral, @yasker, @flavio

feat: NVSHAS-9490 support controller SLSA L3
  .github/workflows/dev.yml
  .github/workflows/release.yml
  Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  package/build_controller.sh
  package/build_enforcer.sh
  package/deps/linux_amd64/consul.checksum
  package/deps/linux_amd64/opa.checksum
  package/deps/linux_arm64/consul.checksum
  package/deps/linux_arm64/opa.checksum
  tools/nstools/Makefile
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer

test
  .github/workflows/release.yml
Owners: @holyspectral, @yasker, @flavio

feat: NVSHAS-9490 support controller SLSA L3
  .github/workflows/dev.yml
  .github/workflows/release.yml
  Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  package/build_controller.sh
  package/build_enforcer.sh
  package/deps/linux_amd64/consul.checksum
  package/deps/linux_amd64/opa.checksum
  package/deps/linux_arm64/consul.checksum
  package/deps/linux_arm64/opa.checksum
  tools/nstools/Makefile
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer

test
  .github/workflows/release.yml
Owners: @holyspectral, @yasker, @flavio

feat: NVSHAS-9490 support controller SLSA L3
  .github/workflows/release.yml
  Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  package/build_controller.sh
  package/build_enforcer.sh
  package/deps/linux_amd64/consul.checksum
  package/deps/linux_amd64/opa.checksum
  package/deps/linux_arm64/consul.checksum
  package/deps/linux_arm64/opa.checksum
  tools/nstools/Makefile
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer

test
  .github/workflows/release.yml
Owners: @holyspectral, @yasker, @flavio

chore: bump x/net to 0.33.0
  go.mod
  go.sum
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/http2/writesched_priority.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/modules.txt
Owners: @holyspectral, @yasker, @flavio

chore: update consul version
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

experiment: enable renovate
  .github/renovate.json
  .github/workflows/renovate.yml
Owners: @holyspectral, @yasker, @flavio

chore: upgrade to go 1.23
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

Update README.md
  README.md
Owners: @holyspectral, @yasker, @flavio

debug2
  agent/probe/process.go
Owners: @neuvector/enforcer, @yasker, @flavio

debug
  agent/probe/process.go
  share/fsmon/fanotify_linux.go
Owners: @neuvector/enforcer, @yasker, @flavio

log
  .golangci.yml
  agent/group_profile.go
  agent/policy/process.go
  agent/probe/process.go
  share/utils/keys.go
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer, @neuvector/controller, @neuvector/scanner

NVSHAS-10218: [Controller] Lack of validation for RSA Keysize (23)
  controller/kv/cert.go
  upgrader/presync.go
Owners: @neuvector/controller, @yasker, @flavio

chore: update golangci-lint
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

chore: skip linters for error string
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

chore: fix duplicated imports
  controller/resource/kubernetes_resource.go
  controller/scan/image.go
  db/vulassets.go
Owners: @neuvector/controller, @yasker, @flavio, @neuvector/scanner

chore: address QF1003 linter issues
  agent/engine.go
  agent/policy/network.go
  agent/probe/port_lookup.go
  agent/service.go
  agent/system.go
  controller/cache/log.go
  controller/cache/policy.go
  controller/common/common.go
  controller/rest/dlp_rule.go
  controller/rest/system.go
Owners: @neuvector/enforcer, @yasker, @flavio, @neuvector/controller

chore: address ST1008 linter issues
  controller/scan/aws_auth.go
  controller/scan/gcr.go
  controller/scan/github_test.go
  controller/scan/gitlab.go
  controller/scan/ibmcloud.go
  controller/scan/image.go
  controller/scan/interface.go
  controller/scan/jfrog.go
  controller/scan/openshift.go
  controller/scan/registry.go
Owners: @neuvector/controller, @neuvector/scanner, @yasker, @flavio

chore: fix QF1004 with strings.ReplaceAll
  controller/common/common.go
Owners: @neuvector/controller, @yasker, @flavio

chore: fix ST1012 linter issues
  controller/rest/rest.go
  controller/rest/system.go
Owners: @neuvector/controller, @yasker, @flavio

chore: fix another ST1008 linter issue
  controller/nvk8sapi/nvvalidatewebhookcfg/nvvalidatewebhookcfg.go
  controller/rest/admission.go
Owners: @neuvector/controller, @yasker, @flavio

chore: another ST1008 linter issue
  controller/rest/policy.go
Owners: @neuvector/controller, @yasker, @flavio

chore: fix QF1008 linter issue
  agent/engine.go
Owners: @neuvector/enforcer, @yasker, @flavio

chore: fix S1000 linter issue
  controller/rest/crdvalidatewebhook.go
Owners: @neuvector/controller, @yasker, @flavio

chore: remove unnecessary nolint
  .golangci.yml
  agent/probe/probe.go
  agent/probe/process_linux.go
  controller/cache/admission.go
  controller/rest/admwebhook.go
  controller/scan/registry.go
  share/cluster/intfs.go
  share/fsmon/monitor.go
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer, @neuvector/controller, @neuvector/scanner

NVSHAS-10131: Improve the Vulnerabilities Report
  controller/access/access.go
  controller/access/access_test.go
  controller/api/apis.go
  controller/api/apis.yaml
  controller/rest/host.go
  controller/rest/rest.go
  controller/rest/rest_test.go
  controller/rest/scanner.go
Owners: @neuvector/controller, @yasker, @flavio

NVSHAS-10131: Improve the Vulnerabilities Report
  controller/access/access.go
  controller/access/access_test.go
  controller/api/apis.go
  controller/api/apis.yaml
  controller/rest/host.go
  controller/rest/rest.go
  controller/rest/scanner.go
Owners: @neuvector/controller, @yasker, @flavio

CODEOWNERS:

* @holyspectral @yasker @flavio
build/ @neuvector/build @yasker @flavio
controller/ @neuvector/controller @yasker @flavio
controller/scan/ @neuvector/controller @neuvector/scanner @yasker @flavio
db/ @neuvector/controller @yasker @flavio
templates/ @neuvector/controller @yasker @flavio
upgrader/ @neuvector/controller @yasker @flavio
agent/ @neuvector/enforcer @yasker @flavio
tools/ @neuvector/enforcer @yasker @flavio
monitor/ @neuvector/enforcer @neuvector/controller @yasker @flavio
scripts/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/auth/ @neuvector/controller @yasker @flavio
share/cluster/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/container/ @neuvector/enforcer @yasker @flavio
share/fsmon/ @neuvector/enforcer @yasker @flavio
share/global/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/healthz @neuvector/controller @yasker @flavio
share/httpclient/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/httptrace/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/k8sutils/ @neuvector/controller @yasker @flavio
share/licenseinfo/ @neuvector/controller @yasker @flavio
share/migration/ @neuvector/controller @yasker @flavio
share/orchestration/ @neuvector/controller @yasker @flavio
share/osutil/ @neuvector/enforcer @yasker @flavio
share/scan/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio
share/utils/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio
