Repository holyspectral/neuvector, changes with the owners that CODEOWNERS names for each.
All owners: @holyspectral, @yasker, @flavio, @neuvector/build, @neuvector/controller, @neuvector/scanner, @neuvector/enforcer

CODEOWNERS:

* @holyspectral @yasker @flavio
build/ @neuvector/build @yasker @flavio
controller/ @neuvector/controller @yasker @flavio
controller/scan/ @neuvector/controller @neuvector/scanner @yasker @flavio
db/ @neuvector/controller @yasker @flavio
templates/ @neuvector/controller @yasker @flavio
upgrader/ @neuvector/controller @yasker @flavio
agent/ @neuvector/enforcer @yasker @flavio
tools/ @neuvector/enforcer @yasker @flavio
monitor/ @neuvector/enforcer @neuvector/controller @yasker @flavio
scripts/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/auth/ @neuvector/controller @yasker @flavio
share/cluster/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/container/ @neuvector/enforcer @yasker @flavio
share/fsmon/ @neuvector/enforcer @yasker @flavio
share/global/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/healthz @neuvector/controller @yasker @flavio
share/httpclient/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/httptrace/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/k8sutils/ @neuvector/controller @yasker @flavio
share/licenseinfo/ @neuvector/controller @yasker @flavio
share/migration/ @neuvector/controller @yasker @flavio
share/orchestration/ @neuvector/controller @yasker @flavio
share/osutil/ @neuvector/enforcer @yasker @flavio
share/scan/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio
share/utils/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio

chore: disallow blank error handling
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

chore: disable errcheck linter in tests
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

docs: how to fix linter issue
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: remove redundant prompts
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: update prompt
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

fix(lint): resolve errcheck in controller/cache, controller/kv, controller/rest, and db
  controller/cache/object.go
  controller/cache/policy.go
  controller/cache/usage.go
  controller/kv/helper.go
  controller/kv/registry.go
  controller/kv/upgrade.go
  controller/rest/compliance.go
  controller/rest/domain.go
  controller/rest/federation.go
  controller/rest/group.go
  controller/rest/ibmsa.go
  controller/rest/internal.go
  controller/rest/log.go
  controller/rest/policy.go
  db/assetvuls.go
  db/vulassets.go
Owners: @neuvector/controller, @yasker, @flavio

chore: disallow blank error handling
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

chore: disable errcheck linter in tests
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

docs: how to fix linter issue
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: remove redundant prompts
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: update prompt
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

chore: disallow blank error handling
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

chore: disable errcheck linter in tests
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

docs: how to fix linter issue
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: remove redundant prompts
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: update prompt
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

fix: some more error handlings
  controller/rest/federation.go
Owners: @neuvector/controller, @yasker, @flavio

fix: refine warning msg per review comments
  controller/cache/cache.go
  controller/cache/cert.go
  controller/cache/config.go
  controller/cache/crd.go
  controller/cache/federation.go
  controller/cache/log.go
Owners: @neuvector/controller, @yasker, @flavio

fix: gofmt issue
  controller/kv/config.go
  share/system/ns/ns_unspecified.go
  test/e2e/scanner_cvedb_test.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

fix: address error handling issues
  controller/cache/admission.go
  controller/kv/helper.go
  controller/rest/crdsecurityrule.go
Owners: @neuvector/controller, @yasker, @flavio

feat: scanner registration api v3
  controller/grpc.go
  controller/grpc_test.go
  share/README.md
  share/common.pb.go
  share/controller_service.pb.go
  share/controller_service.proto
  share/enforcer_service.pb.go
  share/scanner_service.pb.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

feat: use sqlite to store cvedb
  .gitignore
  controller/cache/cache.go
  controller/cache/log.go
  controller/cache/scan.go
  controller/cache/usage.go
  controller/controller.go
  controller/grpc.go
  controller/kv/helper.go
  controller/kv/mock.go
  controller/rest/repository.go
  controller/rest/scanner.go
  controller/rest/system.go
  controller/scan/interface.go
  controller/scan/registry.go
  db/cvedb.go
  db/cvedb_cache.go
  db/models.go
  db/vulassets.go
  share/clus_apis.go
  share/cluster/consul.go
  share/cluster/intfs.go
  share/scan/cvedb_test.go
  share/scan/scan_report.go
  share/scan/scan_report_test.go
Owners: @holyspectral, @yasker, @flavio, @neuvector/controller, @neuvector/scanner, @neuvector/enforcer

fix(grpc): review comments
  controller/grpc.go
Owners: @neuvector/controller, @yasker, @flavio

fix: use estimate json string size instead of slots
  controller/grpc.go
  controller/grpc_test.go
Owners: @neuvector/controller, @yasker, @flavio

fix(cvedb): review comments
  controller/cache/log.go
  db/models.go
  share/scan/scan_report.go
Owners: @neuvector/controller, @yasker, @flavio, @neuvector/enforcer, @neuvector/scanner

fix: change API implementation
  controller/grpc.go
Owners: @neuvector/controller, @yasker, @flavio

fix: linter issues
  controller/grpc.go
Owners: @neuvector/controller, @yasker, @flavio

fix: codeql issue
  db/models.go
Owners: @neuvector/controller, @yasker, @flavio

fix: support updatecli
  updatecli/updatecli-compose.yaml
  updatecli/updatecli.d/go.yaml
  updatecli/values.yaml
Owners: @holyspectral, @yasker, @flavio

chore: updatecli workflow to support multi-branch
  .github/workflows/updatecli.yml
  updatecli/updatecli.d/go.yaml
Owners: @holyspectral, @yasker, @flavio

chore: update golang versions for release vers
  updatecli/updatecli.d/go-5-4.yaml
  updatecli/updatecli.d/go-5-5.yaml
  updatecli/updatecli.d/go-5-6.yaml
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.5
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.5
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(cleanup): remove upgrade responder from release code
  .github/workflows/release.yml
Owners: @holyspectral, @yasker, @flavio

chore(cleanup): remove upgrade responder from release code
  .github/workflows/release.yml
Owners: @holyspectral, @yasker, @flavio

chore(cleanup): remove upgrade responder from release code
  .github/workflows/release.yml
Owners: @holyspectral, @yasker, @flavio

chore(build): provide vcs information
  agent/Makefile
  agent/workerlet/pathWalker/Makefile
  controller/Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  upgrader/Makefile
Owners: @neuvector/enforcer, @yasker, @flavio, @neuvector/controller, @holyspectral

chore(build): provide vcs information
  agent/Makefile
  agent/workerlet/pathWalker/Makefile
  controller/Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  upgrader/Makefile
Owners: @neuvector/enforcer, @yasker, @flavio, @neuvector/controller, @holyspectral
