Repository holyspectral/neuvector, changes with the owners that CODEOWNERS names for each.
All owners: @holyspectral, @yasker, @flavio, @neuvector/build, @neuvector/controller, @neuvector/scanner, @neuvector/enforcer

CODEOWNERS:

* @holyspectral @yasker @flavio
build/ @neuvector/build @yasker @flavio
controller/ @neuvector/controller @yasker @flavio
controller/scan/ @neuvector/controller @neuvector/scanner @yasker @flavio
db/ @neuvector/controller @yasker @flavio
templates/ @neuvector/controller @yasker @flavio
upgrader/ @neuvector/controller @yasker @flavio
agent/ @neuvector/enforcer @yasker @flavio
tools/ @neuvector/enforcer @yasker @flavio
monitor/ @neuvector/enforcer @neuvector/controller @yasker @flavio
scripts/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/auth/ @neuvector/controller @yasker @flavio
share/cluster/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/container/ @neuvector/enforcer @yasker @flavio
share/fsmon/ @neuvector/enforcer @yasker @flavio
share/global/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/healthz @neuvector/controller @yasker @flavio
share/httpclient/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/httptrace/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/k8sutils/ @neuvector/controller @yasker @flavio
share/licenseinfo/ @neuvector/controller @yasker @flavio
share/migration/ @neuvector/controller @yasker @flavio
share/orchestration/ @neuvector/controller @yasker @flavio
share/osutil/ @neuvector/enforcer @yasker @flavio
share/scan/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio
share/utils/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio

chore(build): provide vcs information
  agent/Makefile
  agent/workerlet/pathWalker/Makefile
  controller/Makefile
  package/Dockerfile.controller
  package/Dockerfile.enforcer
  upgrader/Makefile
Owners: @neuvector/enforcer, @yasker, @flavio, @neuvector/controller, @holyspectral

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.6
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.6
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.6
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.6
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.0
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.0
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.0
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.0
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.1
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.1
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.1
  go.mod
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.27.1
  go.mod
Owners: @holyspectral, @yasker, @flavio

fix: custom service name
  share/orchestration/docker.go
  share/orchestration/ecs.go
  share/orchestration/kubernetes.go
  share/orchestration/service_name_test.go
  share/orchestration/types.go
  share/types.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral
