Repository holyspectral/neuvector, changes with the owners that CODEOWNERS names for each.
All owners: @holyspectral, @yasker, @flavio, @neuvector/build, @neuvector/controller, @neuvector/scanner, @neuvector/enforcer

chore: tilt
  Tiltfile
  controller/Makefile
  hack/Dockerfile.controller.tilt
  tilt-settings.yaml
Owners: @holyspectral, @yasker, @flavio, @neuvector/controller

wip: v1
  controller/api/apis.go
  controller/cache/mockcache_test.go
  controller/rest/rest.go
  controller/rest/scanner.go
  controller/rest/scanner_test.go
Owners: @neuvector/controller, @yasker, @flavio

wip
  controller/rest/mockcache_test.go
  controller/rest/scanner.go
  controller/rest/scanner_test.go
Owners: @neuvector/controller, @yasker, @flavio

fix a boundary condition
  controller/api/apis.go
  controller/rest/scanner.go
  controller/rest/scanner_test.go
Owners: @neuvector/controller, @yasker, @flavio

refactor
  controller/api/apis.go
  controller/rest/scanner.go
  controller/rest/scanner_test.go
Owners: @neuvector/controller, @yasker, @flavio

refactor for hosts
  controller/api/apis.go
  controller/rest/rest.go
  controller/rest/scanner.go
  controller/rest/scanner_test.go
Owners: @neuvector/controller, @yasker, @flavio

support host report
  controller/api/apis.go
  controller/rest/rest.go
  controller/rest/scanner.go
Owners: @neuvector/controller, @yasker, @flavio

chore: update renovate.json on release branches
  .github/renovate.json
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Docker image tag
  package/Dockerfile.controller
  package/Dockerfile.enforcer
Owners: @holyspectral, @yasker, @flavio

chore(deps): deps(go): update Go version to 1.26.3
  go.mod
Owners: @holyspectral, @yasker, @flavio

refactor!: move security rule to separate pkg
  controller/k8sapi/v1/securityrule_types.go
  controller/resource/kubernetes_resource.go
  controller/resource/nvsecurityrule_def.go
  controller/rest/crdsecurityrule.go
  controller/rest/crdsecurityrule_test.go
  controller/rest/crdvalidatewebhook.go
  controller/rest/group.go
  controller/rest/response.go
Owners: @neuvector/controller, @yasker, @flavio

refactor!: remove controller api reference
  controller/api/apis.go
  controller/cache/group.go
  controller/common/common.go
  controller/k8sapi/v1/securityrule_types.go
  controller/kv/endpoint.go
  controller/resource/nvsecurityrule_def.go
  controller/rest/crdsecurityrule.go
  controller/rest/crdsecurityrule_test.go
  controller/rest/group.go
  controller/rest/group_test.go
Owners: @neuvector/controller, @yasker, @flavio

refactor!: move away from share package
  controller/api/apis.go
  controller/cache/response.go
  controller/cache/response_test.go
  controller/k8sapi/v1/securityrule_types.go
  controller/kv/create.go
  share/clus_apis.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

refactor: move NvClusterSecurityRule into nv v1 pkg
  controller/resource/kubernetes_resource.go
  controller/resource/nvsecurityrule_def.go
  controller/rest/crdsecurityrule.go
Owners: @neuvector/controller, @yasker, @flavio

refactor: export v1 api
  controller/k8sapi/v1/clustersecurityrule_types.go
  controller/k8sapi/v1/register.go
  controller/k8sapi/v1/securityrule_types.go
  controller/k8sapi/v1/zz_generated.deepcopy.go
  hack/boilerplate.go.txt
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

refactor!: remove the dependency of clair
  go.mod
  go.sum
  share/scan/scan_utils.go
  share/utils/extract.go
  vendor/github.com/quay/clair/v2/LICENSE
  vendor/github.com/quay/clair/v2/NOTICE
  vendor/github.com/quay/clair/v2/pkg/tarutil/tarutil.go
  vendor/modules.txt
Owners: @holyspectral, @yasker, @flavio, @neuvector/enforcer, @neuvector/controller, @neuvector/scanner

feat: separate api package
  controller/k8sapi/go.mod
  controller/k8sapi/go.sum
Owners: @neuvector/controller, @yasker, @flavio

wip
  share/container/containerd.go
Owners: @neuvector/enforcer, @yasker, @flavio

refactor!: remove controller api reference
  controller/api/apis.go
  controller/cache/group.go
  controller/common/common.go
  controller/k8sapi/v1/securityrule_types.go
  controller/kv/endpoint.go
  controller/resource/nvsecurityrule_def.go
  controller/rest/crdsecurityrule.go
  controller/rest/crdsecurityrule_test.go
  controller/rest/group.go
  controller/rest/group_test.go
Owners: @neuvector/controller, @yasker, @flavio

refactor!: move security rule to separate pkg
  controller/k8sapi/v1/securityrule_types.go
  controller/resource/kubernetes_resource.go
  controller/resource/nvsecurityrule_def.go
  controller/rest/crdsecurityrule.go
  controller/rest/crdsecurityrule_test.go
  controller/rest/crdvalidatewebhook.go
  controller/rest/group.go
  controller/rest/response.go
Owners: @neuvector/controller, @yasker, @flavio

refactor!: move away from share package
  controller/api/apis.go
  controller/cache/response.go
  controller/cache/response_test.go
  controller/k8sapi/v1/securityrule_types.go
  controller/kv/create.go
  share/clus_apis.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

refactor: move NvClusterSecurityRule into nv v1 pkg
  controller/resource/kubernetes_resource.go
  controller/resource/nvsecurityrule_def.go
  controller/rest/crdsecurityrule.go
Owners: @neuvector/controller, @yasker, @flavio

feat: separate api package
  controller/k8sapi/go.mod
  controller/k8sapi/go.sum
Owners: @neuvector/controller, @yasker, @flavio

refactor: export v1 api
  controller/k8sapi/v1/clustersecurityrule_types.go
  controller/k8sapi/v1/register.go
  controller/k8sapi/v1/securityrule_types.go
  controller/k8sapi/v1/zz_generated.deepcopy.go
  hack/boilerplate.go.txt
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

experiment: scanner cvedb memory issue
  controller/controller.go
Owners: @neuvector/controller, @yasker, @flavio

chore: disallow blank error handling
  .golangci.yml
Owners: @holyspectral, @yasker, @flavio

doc: update prompt
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

docs: how to fix linter issue
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

doc: prompt
  LINT_FIX_PROMPT.md
Owners: @holyspectral, @yasker, @flavio

fix(lint): resolve errcheck in agent, cluster, and kv/config packages
  agent/bench.go
  agent/cluster.go
  agent/engine.go
  controller/kv/config.go
  controller/nvk8sapi/neuvectorcrd/crd.go
  share/cluster/consul.go
  share/cluster/messenger.go
Owners: @neuvector/enforcer, @yasker, @flavio, @neuvector/controller

fix(lint): resolve errcheck in agent/pipe, cluster, grpc, and rest packages
  agent/pipe/port.go
  agent/pipe/tc.go
  controller/cluster.go
  controller/grpc.go
  controller/kv/config.go
  controller/rest/admission.go
  controller/rest/auth.go
  controller/rest/auth_test.go
  controller/rest/compliance.go
  controller/rest/compliance_test.go
  controller/rest/configmap.go
  controller/rest/configmap_test.go
  controller/rest/policy_test.go
  controller/rest/user_test.go
Owners: @neuvector/enforcer, @yasker, @flavio, @neuvector/controller

feat: scanner registration api v3
  controller/grpc.go
  controller/kv/helper.go
  share/README.md
  share/clus_apis.go
  share/cluster/consul.go
  share/cluster/intfs.go
  share/common.pb.go
  share/controller_service.pb.go
  share/controller_service.proto
  share/enforcer_service.pb.go
  share/scanner_service.pb.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral, @neuvector/enforcer

fix: simplify the diff condition
  controller/grpc.go
Owners: @neuvector/controller, @yasker, @flavio

test
  .github/workflows/test-e2e.yml
Owners: @holyspectral, @yasker, @flavio

feat: scanner registration api v3
  controller/grpc.go
  controller/grpc_test.go
  share/README.md
  share/common.pb.go
  share/controller_service.pb.go
  share/controller_service.proto
  share/enforcer_service.pb.go
  share/scanner_service.pb.go
Owners: @neuvector/controller, @yasker, @flavio, @holyspectral

feat: use sqlite to store cvedb
  .gitignore
  controller/cache/cache.go
  controller/cache/log.go
  controller/cache/scan.go
  controller/cache/usage.go
  controller/controller.go
  controller/grpc.go
  controller/kv/helper.go
  controller/kv/mock.go
  controller/rest/repository.go
  controller/rest/scanner.go
  controller/rest/system.go
  controller/scan/interface.go
  controller/scan/registry.go
  db/cvedb.go
  db/cvedb_cache.go
  db/models.go
  db/vulassets.go
  share/clus_apis.go
  share/cluster/consul.go
  share/cluster/intfs.go
  share/scan/cvedb_test.go
  share/scan/scan_report.go
  share/scan/scan_report_test.go
Owners: @holyspectral, @yasker, @flavio, @neuvector/controller, @neuvector/scanner, @neuvector/enforcer

fix(grpc): review comments
  controller/grpc.go
Owners: @neuvector/controller, @yasker, @flavio

fix(cvedb): review comments
  controller/cache/log.go
  db/models.go
  share/scan/scan_report.go
Owners: @neuvector/controller, @yasker, @flavio, @neuvector/enforcer, @neuvector/scanner

fix: use estimate json string size instead of slots
  controller/grpc.go
  controller/grpc_test.go
Owners: @neuvector/controller, @yasker, @flavio

fix: change API implementation
  controller/grpc.go
Owners: @neuvector/controller, @yasker, @flavio

CODEOWNERS:

* @holyspectral @yasker @flavio
build/ @neuvector/build @yasker @flavio
controller/ @neuvector/controller @yasker @flavio
controller/scan/ @neuvector/controller @neuvector/scanner @yasker @flavio
db/ @neuvector/controller @yasker @flavio
templates/ @neuvector/controller @yasker @flavio
upgrader/ @neuvector/controller @yasker @flavio
agent/ @neuvector/enforcer @yasker @flavio
tools/ @neuvector/enforcer @yasker @flavio
monitor/ @neuvector/enforcer @neuvector/controller @yasker @flavio
scripts/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/auth/ @neuvector/controller @yasker @flavio
share/cluster/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/container/ @neuvector/enforcer @yasker @flavio
share/fsmon/ @neuvector/enforcer @yasker @flavio
share/global/ @neuvector/enforcer @neuvector/controller @yasker @flavio
share/healthz @neuvector/controller @yasker @flavio
share/httpclient/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/httptrace/ @neuvector/controller @neuvector/scanner @yasker @flavio
share/k8sutils/ @neuvector/controller @yasker @flavio
share/licenseinfo/ @neuvector/controller @yasker @flavio
share/migration/ @neuvector/controller @yasker @flavio
share/orchestration/ @neuvector/controller @yasker @flavio
share/osutil/ @neuvector/enforcer @yasker @flavio
share/scan/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio
share/utils/ @neuvector/enforcer @neuvector/controller @neuvector/scanner @yasker @flavio
